Repository kiriltaran/weazee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings=0",
    "react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests"
  ],
  "*.{ts,tsx,json,scss}": ["prettier --write"]
}

chore(project configuration): add stylelint
  .gitignore
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/App.module.scss
  yarn.lock
Due: prettier --write

chore(eslint rules): add enums and interfaces naming eslint rules
  .eslintrc.json
  package.json
Due: prettier --write

feat(styles): add roboto mono font
  public/index.html
  src/index.scss
Due: prettier --write

feat(icons): add icons
  .vscode/settings.json
  src/App.test.tsx
  src/icons/001 Mostly Cloudy_1.svg
  src/icons/002 Partly Cloudy Night_1.svg
  src/icons/003 Blizzard_1.svg
  src/icons/004 Clear Night_1.svg
  src/icons/005 Mostly Sunny_1.svg
  src/icons/006 Partly Cloudy_1.svg
  src/icons/007 Sunset_1.svg
  src/icons/008 Sunrise_1.svg
  src/icons/009 Hot_1.svg
  src/icons/010 Breezy_1.svg
  src/icons/011 Rain_1.svg
  src/icons/012 Fog_1.svg
  src/icons/013 Mix Rainfall_1.svg
  src/icons/014 Snow_1.svg
  src/icons/015 Scattered Thundersorm_1.svg
  src/icons/016 Tornado_1.svg
  src/icons/017 Tropical Storm_1.svg
  src/icons/018 Hail_1.svg
  src/icons/019 Blowing Snow_1.svg
  src/icons/020 Drizzle_1.svg
  src/icons/021 Dust_1.svg
  src/icons/022 Hurricane_1.svg
  src/icons/023 Scattered Showers_1.svg
  src/icons/024 Sleet_1.svg
  src/icons/025 Ice_1.svg
  src/icons/026 Haze_1.svg
  src/icons/027 Smoke_1.svg
  src/icons/028 No Report_1.svg
  src/icons/Icon.module.scss
  src/icons/Icon.tsx
  src/icons/index.tsx
  tsconfig.json
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

perf(icons): optimize icons
  src/icons/001 Mostly Cloudy_1.svg
  src/icons/002 Partly Cloudy Night_1.svg
  src/icons/003 Blizzard_1.svg
  src/icons/004 Clear Night_1.svg
  src/icons/005 Mostly Sunny_1.svg
  src/icons/006 Partly Cloudy_1.svg
  src/icons/007 Sunset_1.svg
  src/icons/008 Sunrise_1.svg
  src/icons/009 Hot_1.svg
  src/icons/010 Breezy_1.svg
  src/icons/011 Rain_1.svg
  src/icons/012 Fog_1.svg
  src/icons/013 Mix Rainfall_1.svg
  src/icons/014 Snow_1.svg
  src/icons/015 Scattered Thundersorm_1.svg
  src/icons/016 Tornado_1.svg
  src/icons/017 Tropical Storm_1.svg
  src/icons/018 Hail_1.svg
  src/icons/019 Blowing Snow_1.svg
  src/icons/020 Drizzle_1.svg
  src/icons/021 Dust_1.svg
  src/icons/022 Hurricane_1.svg
  src/icons/023 Scattered Showers_1.svg
  src/icons/024 Sleet_1.svg
  src/icons/025 Ice_1.svg
  src/icons/026 Haze_1.svg
  src/icons/027 Smoke_1.svg
  src/icons/028 No Report_1.svg
Due: none

fix: return app test
  src/App.test.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(icons): add icons
  .vscode/settings.json
  src/icons/001 Mostly Cloudy_1.svg
  src/icons/002 Partly Cloudy Night_1.svg
  src/icons/003 Blizzard_1.svg
  src/icons/004 Clear Night_1.svg
  src/icons/005 Mostly Sunny_1.svg
  src/icons/006 Partly Cloudy_1.svg
  src/icons/007 Sunset_1.svg
  src/icons/008 Sunrise_1.svg
  src/icons/009 Hot_1.svg
  src/icons/010 Breezy_1.svg
  src/icons/011 Rain_1.svg
  src/icons/012 Fog_1.svg
  src/icons/013 Mix Rainfall_1.svg
  src/icons/014 Snow_1.svg
  src/icons/015 Scattered Thundersorm_1.svg
  src/icons/016 Tornado_1.svg
  src/icons/017 Tropical Storm_1.svg
  src/icons/018 Hail_1.svg
  src/icons/019 Blowing Snow_1.svg
  src/icons/020 Drizzle_1.svg
  src/icons/021 Dust_1.svg
  src/icons/022 Hurricane_1.svg
  src/icons/023 Scattered Showers_1.svg
  src/icons/024 Sleet_1.svg
  src/icons/025 Ice_1.svg
  src/icons/026 Haze_1.svg
  src/icons/027 Smoke_1.svg
  src/icons/028 No Report_1.svg
  src/icons/Icon.module.scss
  src/icons/Icon.tsx
  src/icons/index.tsx
  tsconfig.json
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(styles): replace normalize css with reset css
  package.json
  src/index.scss
  yarn.lock
Due: prettier --write

feat(styles): replace normalize css with reset css (#5)
  package.json
  src/index.scss
  yarn.lock
Due: prettier --write

feat: change main font
  public/index.html
  src/index.scss
Due: prettier --write

feat: change main font (#7)
  public/index.html
  src/index.scss
Due: prettier --write

feat(scss): add colors and spaces variables
  src/assets/styles/variables/colors.scss
  src/assets/styles/variables/index.scss
  src/assets/styles/variables/spaces.scss
  src/index.scss
  yarn.lock
Due: prettier --write

Update index.scss
  src/index.scss
Due: prettier --write

feat(scss): add colors and spaces variables (#8)
  src/assets/styles/variables/colors.scss
  src/assets/styles/variables/index.scss
  src/assets/styles/variables/spaces.scss
  src/index.scss
  yarn.lock
Due: prettier --write

feat(weatherproperties): add WeatherProperties component
  src/components/WeatherProperties/WeatherProperties.module.scss
  src/components/WeatherProperties/WeatherProperties.tsx
  src/components/WeatherProperties/index.ts
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.module.scss
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.tsx
  src/components/WeatherPropertiesItem/index.ts
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weather properties components
  src/components/WeatherProperties/WeatherProperties.tsx
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.module.scss
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weather properties components (#6)
  src/components/WeatherProperties/WeatherProperties.module.scss
  src/components/WeatherProperties/WeatherProperties.tsx
  src/components/WeatherProperties/index.ts
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.module.scss
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.tsx
  src/components/WeatherPropertiesItem/index.ts
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(weather background): add weather background component
  src/App.module.scss
  src/App.test.tsx
  src/App.tsx
  src/assets/images/weathers/fog1.jpeg
  src/assets/images/weathers/fog2.jpeg
  src/assets/images/weathers/fog3.jpeg
  src/assets/images/weathers/fog4.jpeg
  src/assets/images/weathers/fog5.jpeg
  src/assets/images/weathers/index.ts
  src/assets/images/weathers/rain1.jpeg
  src/assets/images/weathers/rain2.jpeg
  src/assets/images/weathers/rain3.jpeg
  src/assets/images/weathers/rain4.jpeg
  src/assets/images/weathers/rain5.jpeg
  src/assets/images/weathers/snow1.jpeg
  src/assets/images/weathers/snow2.jpeg
  src/assets/images/weathers/snow3.jpeg
  src/assets/images/weathers/snow4.jpeg
  src/assets/images/weathers/snow5.jpeg
  src/assets/images/weathers/sun1.jpeg
  src/assets/images/weathers/sun2.jpeg
  src/assets/images/weathers/sun3.jpeg
  src/assets/images/weathers/sun4.jpeg
  src/assets/images/weathers/sun5.jpeg
  src/assets/images/weathers/thunderstorm1.jpeg
  src/assets/images/weathers/thunderstorm2.jpeg
  src/assets/images/weathers/thunderstorm3.jpeg
  src/assets/images/weathers/thunderstorm4.jpeg
  src/assets/images/weathers/thunderstorm5.jpeg
  src/assets/images/weathers/wind1.jpeg
  src/assets/images/weathers/wind2.jpeg
  src/assets/images/weathers/wind3.jpeg
  src/assets/images/weathers/wind4.jpeg
  src/assets/images/weathers/wind5.jpeg
  src/components/WeatherBackground/WeatherBackground.module.scss
  src/components/WeatherBackground/WeatherBackground.tsx
  src/components/WeatherBackground/index.ts
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat: remove weater bg; rename app to weazee; move bg to weazee component;
  src/App.module.scss
  src/App.tsx
  src/Weazee.module.scss
  src/Weazee.test.tsx
  src/Weazee.tsx
  src/components/WeatherBackground/index.ts
  src/index.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(weazee bg): set bg for weazee component
  src/Weazee.module.scss
  src/Weazee.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(weather background): add weather background component (#9)
  src/App.module.scss
  src/App.test.tsx
  src/App.tsx
  src/Weazee.module.scss
  src/Weazee.test.tsx
  src/Weazee.tsx
  src/assets/images/weathers/fog1.jpeg
  src/assets/images/weathers/fog2.jpeg
  src/assets/images/weathers/fog3.jpeg
  src/assets/images/weathers/fog4.jpeg
  src/assets/images/weathers/fog5.jpeg
  src/assets/images/weathers/index.ts
  src/assets/images/weathers/rain1.jpeg
  src/assets/images/weathers/rain2.jpeg
  src/assets/images/weathers/rain3.jpeg
  src/assets/images/weathers/rain4.jpeg
  src/assets/images/weathers/rain5.jpeg
  src/assets/images/weathers/snow1.jpeg
  src/assets/images/weathers/snow2.jpeg
  src/assets/images/weathers/snow3.jpeg
  src/assets/images/weathers/snow4.jpeg
  src/assets/images/weathers/snow5.jpeg
  src/assets/images/weathers/sun1.jpeg
  src/assets/images/weathers/sun2.jpeg
  src/assets/images/weathers/sun3.jpeg
  src/assets/images/weathers/sun4.jpeg
  src/assets/images/weathers/sun5.jpeg
  src/assets/images/weathers/thunderstorm1.jpeg
  src/assets/images/weathers/thunderstorm2.jpeg
  src/assets/images/weathers/thunderstorm3.jpeg
  src/assets/images/weathers/thunderstorm4.jpeg
  src/assets/images/weathers/thunderstorm5.jpeg
  src/assets/images/weathers/wind1.jpeg
  src/assets/images/weathers/wind2.jpeg
  src/assets/images/weathers/wind3.jpeg
  src/assets/images/weathers/wind4.jpeg
  src/assets/images/weathers/wind5.jpeg
  src/index.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(weazee component): fix weazee component styles
  .stylelintrc.json
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.test.tsx
  src/components/Weazee/Weazee.tsx
  src/components/Weazee/index.ts
  src/index.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(weazee component): fix weazee component styles (#10)
  .stylelintrc.json
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.test.tsx
  src/components/Weazee/Weazee.tsx
  src/components/Weazee/index.ts
  src/index.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

ci(github actions): add github actions config
  .github/workflows/main.yml
  package.json
Due: prettier --write

ci(github actions): add notifications action
  .github/workflows/notifications.yml
Due: none

feat(components): add weather forecasts components
  .lintstagedrc.json
  package.json
  public/index.html
  src/assets/styles/variables/colors.scss
  src/assets/styles/variables/spaces.scss
  src/components/WeatherForecasts/WeatherForecasts.module.scss
  src/components/WeatherForecasts/WeatherForecasts.tsx
  src/components/WeatherForecasts/index.ts
  src/components/WeatherForecastsItem/WeatherForecastsItem.module.scss
  src/components/WeatherForecastsItem/WeatherForecastsItem.tsx
  src/components/WeatherForecastsItem/index.ts
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/index.scss
  yarn.lock
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

ci(github actions): fix notifications action
  .github/workflows/notifications.yml
Due: none

refactor(styles): rename afro variable to black
  src/assets/styles/variables/colors.scss
  src/components/WeatherForecasts/WeatherForecasts.module.scss
Due: prettier --write

ci(github actions): fix notifications action (#12)
  .github/workflows/notifications.yml
Due: none

feat(components): add weather forecasts components (#11)
  .lintstagedrc.json
  package.json
  public/index.html
  src/assets/styles/variables/colors.scss
  src/assets/styles/variables/spaces.scss
  src/components/WeatherForecasts/WeatherForecasts.module.scss
  src/components/WeatherForecasts/WeatherForecasts.tsx
  src/components/WeatherForecasts/index.ts
  src/components/WeatherForecastsItem/WeatherForecastsItem.module.scss
  src/components/WeatherForecastsItem/WeatherForecastsItem.tsx
  src/components/WeatherForecastsItem/index.ts
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/index.scss
  yarn.lock
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(naming): change components naming
  src/components/WeatherForecasts/index.ts
  src/components/WeatherForecastsItem/WeatherForecastsItem.tsx
  src/components/WeatherForecastsItem/index.ts
  src/components/WeatherProperties/index.ts
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.tsx
  src/components/WeatherPropertiesItem/index.ts
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeForecasts/WeazeeForecasts.tsx
  src/components/WeazeeForecasts/index.ts
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.module.scss
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.tsx
  src/components/WeazeeForecastsItem/index.ts
  src/components/WeazeeProperties/WeazeeProperties.module.scss
  src/components/WeazeeProperties/WeazeeProperties.tsx
  src/components/WeazeeProperties/index.ts
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.module.scss
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.tsx
  src/components/WeazeePropertiesItem/index.ts
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(icons): fix icons color and width-stroke
  src/icons/001 Mostly Cloudy_1.svg
  src/icons/002 Partly Cloudy Night_1.svg
  src/icons/003 Blizzard_1.svg
  src/icons/004 Clear Night_1.svg
  src/icons/005 Mostly Sunny_1.svg
  src/icons/006 Partly Cloudy_1.svg
  src/icons/007 Sunset_1.svg
  src/icons/008 Sunrise_1.svg
  src/icons/009 Hot_1.svg
  src/icons/010 Breezy_1.svg
  src/icons/011 Rain_1.svg
  src/icons/012 Fog_1.svg
  src/icons/013 Mix Rainfall_1.svg
  src/icons/014 Snow_1.svg
  src/icons/015 Scattered Thundersorm_1.svg
  src/icons/016 Tornado_1.svg
  src/icons/017 Tropical Storm_1.svg
  src/icons/018 Hail_1.svg
  src/icons/019 Blowing Snow_1.svg
  src/icons/020 Drizzle_1.svg
  src/icons/021 Dust_1.svg
  src/icons/022 Hurricane_1.svg
  src/icons/023 Scattered Showers_1.svg
  src/icons/024 Sleet_1.svg
  src/icons/025 Ice_1.svg
  src/icons/026 Haze_1.svg
  src/icons/027 Smoke_1.svg
  src/icons/028 No Report_1.svg
Due: none

refactor(weazee component): change some naming in weazee component
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(naming): change components naming (#13)
  src/components/WeatherForecasts/index.ts
  src/components/WeatherForecastsItem/WeatherForecastsItem.tsx
  src/components/WeatherForecastsItem/index.ts
  src/components/WeatherProperties/index.ts
  src/components/WeatherPropertiesItem/WeatherPropertiesItem.tsx
  src/components/WeatherPropertiesItem/index.ts
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeForecasts/WeazeeForecasts.tsx
  src/components/WeazeeForecasts/index.ts
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.module.scss
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.tsx
  src/components/WeazeeForecastsItem/index.ts
  src/components/WeazeeProperties/WeazeeProperties.module.scss
  src/components/WeazeeProperties/WeazeeProperties.tsx
  src/components/WeazeeProperties/index.ts
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.module.scss
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.tsx
  src/components/WeazeePropertiesItem/index.ts
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee properties to main screen
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee properties to main screen (#15)
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write
