Repository kiriltaran/weazee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, stylelint --fix, prettier --write

feat(icons): add humidity and ari pressure icons
  src/icons/029 Humidity.svg
  src/icons/030 Air_pressure.svg
  src/icons/index.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

ci(github actions): add commitlint action
  .github/workflows/main.yml
Due: none

ci(github actions): add commitlint action (#17)
  .github/workflows/main.yml
Due: none

fix(components): fix forecasts components styles
  src/assets/styles/variables/spaces.scss
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeForecasts/WeazeeForecasts.tsx
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.module.scss
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(components): fix forecasts components styles (#18)
  src/assets/styles/variables/spaces.scss
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeForecasts/WeazeeForecasts.tsx
  src/components/WeazeeForecastsItem/WeazeeForecastsItem.module.scss
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(text properties): change font size to rem value; delete color property for text
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.module.scss
Due: prettier --write

feat(swiper nav): add styles for disabled swiper buttons
  src/assets/styles/variables/colors.scss
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
Due: prettier --write

feat(swiper nav): add styles for disabled swiper button
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
Due: prettier --write

feat(weazee properties): change font size to rem value (#19)
  src/components/WeazeePropertiesItem/WeazeePropertiesItem.module.scss
Due: prettier --write

feat(weazee forecasts): add styles for disabled button state (#20)
  src/assets/styles/variables/colors.scss
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
Due: prettier --write

feat(component): add weazee day component
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeDay/WeazeeDay.module.scss
  src/components/WeazeeDay/WeazeeDay.tsx
  src/components/WeazeeDay/index.ts
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): use correct icons for weazee properties component
  src/components/WeazeeProperties/WeazeeProperties.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee day component
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee day component (#21)
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeDay/WeazeeDay.module.scss
  src/components/WeazeeDay/WeazeeDay.tsx
  src/components/WeazeeDay/index.ts
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): use correct icons for weazee properties component (#22)
  src/components/WeazeeProperties/WeazeeProperties.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(api): add open weather api
  package.json
  src/api/index.ts
  src/api/openWeatherAPI/index.ts
  src/api/openWeatherAPI/openWeatherAPI.ts
  src/api/openWeatherAPI/openWeatherClient.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(api): add open weather api methods typings
  src/api/openWeatherAPI/openWeatherAPI.ts
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(api): add open weather api keys camel casing
  package.json
  src/api/openWeatherAPI/deepMapKeys.ts
  src/api/openWeatherAPI/openWeatherClient.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(api): fix open weather api typings
  src/api/openWeatherAPI/openWeatherAPI.ts
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

fix(api): fix deep map keys function
  src/api/openWeatherAPI/deepMapKeys.ts
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(api): add open weather api (#23)
  package.json
  src/api/index.ts
  src/api/openWeatherAPI/deepMapKeys.ts
  src/api/openWeatherAPI/index.ts
  src/api/openWeatherAPI/openWeatherAPI.ts
  src/api/openWeatherAPI/openWeatherClient.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee suggestions input component
  package.json
  src/api/index.ts
  src/api/openWeatherAPI/index.ts
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeSettings/WeazeeSettings.module.scss
  src/components/WeazeeSettings/WeazeeSettings.tsx
  src/components/WeazeeSettings/index.ts
  src/components/WeazeeSuggestionsInput/WeazeeSuggestionsInput.module.scss
  src/components/WeazeeSuggestionsInput/WeazeeSuggestionsInput.tsx
  src/components/WeazeeSuggestionsInput/index.ts
  src/index.tsx
  yarn.lock
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(components): extract weazee settings callbacks from jsx
  src/components/WeazeeSettings/WeazeeSettings.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

feat(components): add weazee suggestions input component (#24)
  package.json
  src/api/index.ts
  src/api/openWeatherAPI/index.ts
  src/components/Weazee/Weazee.module.scss
  src/components/Weazee/Weazee.tsx
  src/components/WeazeeForecasts/WeazeeForecasts.module.scss
  src/components/WeazeeSettings/WeazeeSettings.module.scss
  src/components/WeazeeSettings/WeazeeSettings.tsx
  src/components/WeazeeSettings/index.ts
  src/components/WeazeeSuggestionsInput/WeazeeSuggestionsInput.module.scss
  src/components/WeazeeSuggestionsInput/WeazeeSuggestionsInput.tsx
  src/components/WeazeeSuggestionsInput/index.ts
  src/index.tsx
  yarn.lock
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(background images): refactor static background weather images map to dynamic
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

refactor(background images): refactor static background weather images map to dynamic (#25)
  src/components/Weazee/Weazee.tsx
Due: eslint --max-warnings=0 --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, prettier --write

build(dependencies): bump dependencies
  package.json
  yarn.lock
Due: prettier --write

build(dependencies): bump dependencies (#26)
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{ts,tsx}
  react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{scss}
  prettier --write: any of: *.{ts,tsx,json,scss}
